.p-inputtext {
  &.task-name-input {
    display: flex;
    flex: 1;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.p-card-body {
  width: 100%;
}

.p-card {
  box-shadow: none;
}

.p-dialog .p-dialog-content {
  padding-bottom: 0px;
}

.p-dropdown {
  &.priority-dropdown {
    margin-top: 24px;
  }

  .p-dropdown-trigger-icon {
    margin-left: 16px;
    background-color: rgb(230, 229, 227);
    border-radius: 5px;
  }
}
.error-message {
  color: rgb(239, 115, 115);
  font-size: 16px;
  margin-top: -16px;
}

.p-metergroup-meters {
  display: flex;
  margin-bottom: 48px;
  height: 16px;
}
