<p-card
  *ngFor="let task of tasks; let i = index"
  class="task-card cursor-pointer"
  [@fadeOut]
  [styleClass]="taskCardStyleClass"
>
  <div class="task-header">
    <span>{{ task.name }}</span>
    <span class="task-actions">
      <p-button icon="pi pi-pencil" (click)="editTask(task)"></p-button>
      <p-button
        icon="pi pi-trash"
        class="mt-4"
        (click)="deleteTask(task.id, i)"
      ></p-button>
    </span>
  </div>
  <div class="task-details">
    <span class="due-date"> {{ task.dueDate | date }}</span>
  </div>
  <span
    class="priority"
    [ngClass]="{
      'p-0-task': task.priority === 'P0',
      'p-1-task': task.priority === 'P1',
      'p-2-task': task.priority === 'P2'
    }"
  >
    {{ task.priority }}
  </span>
</p-card>
